main, footer{
    text-align: center;
}

footer{
    padding: 0;
}

p{
    font-size: 2vw;
}

h2, p{
    margin: 10px;
}
#portfolio{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
}

#portfolio > article{
    width: 33vw;
    height: auto;
    margin-top: 0.33vh;
}

#portfolio img{
    width: 100%;
    height: auto;
}

#portfolio article:nth-child(5n-4){
    background-color: #FE4A49;
}

#portfolio article:nth-child(5n-4) a{
    color:  #FED766;
}

#portfolio article:nth-child(5n-4) a:hover{
    color:  #2AB7CA;
}

#portfolio article:nth-child(5n-4) a:visited{
    color: #ad1f1f;
}

#portfolio article:not(:last-child):nth-child(2n){
    background-color: #2AB7CA;
}

#portfolio article:not(:last-child):nth-child(2n) a{
    color: #bb2f2f;
}

#portfolio article:not(:last-child):nth-child(2n) a:visited{
    color: #105e68;
}

#portfolio article:not(:last-child):nth-child(2n) a:hover{
    color: #FED766;
}

#portfolio article:not(:first-child):nth-child(2n+1){
    background-color: #FED766;
}

#portfolio article:not(:first-child):nth-child(2n+1) a:visited{
    color: #997406;
}